<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Group Feed</string>
		<key>url</key>
		<string>departures/PCGNKE/home</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Discussions</string>
		<key>url</key>
		<string>departures/PCGNKE/comments/158289</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Traveler Profiles</string>
		<key>url</key>
		<string>departures/PCGNKE/travelers</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Individual Profile</string>
		<key>url</key>
		<string>departures/PCGNKE/bookings/311405/profile</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Itinerary</string>
		<key>url</key>
		<string>departures/PCGNKE/itinerary</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Country Info</string>
		<key>url</key>
		<string>departures/PCGNKE/resources</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Weather</string>
		<key>url</key>
		<string>departures/PCGNKE/weather</string>
	</dict>
</array>
</plist>
